### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’ with ‘A’.

select replace('FIRSTNAME', 'a', 'A');

### Q-2. Write an SQL query to print all Worker details from the Worker table order by FIRST_NAME Ascending and DEPARTMENT Descending.

select * from Worker order by FIRST_NAME ASC, LAST_NAME DESC;

### Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

SELECT name FROM Worker ORDER BY salary DESC LIMIT 1;