### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT salary
FROM (
  SELECT salary, ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_num
  FROM your_table
) AS subquery
WHERE row_num = 5;

### Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
SELECT t1.employee_name, t1.salary
FROM your_table t1
JOIN your_table t2 ON t1.salary = t2.salary
WHERE t1.employee_name <> t2.employee_name
ORDER BY t1.salary;