### Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
SELECT column1, column2, column3
FROM table1
INTERSECT
SELECT column1, column2, column3
FROM table2;

In [ ]:
#method 2

SELECT t1.column1, t1.column2, t1.column3
FROM table1 t1
INNER JOIN table2 t2 ON t1.column1 = t2.column1 ;

### Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
SELECT t1.column1, t1.column2, t1.column3
FROM table1 t1
LEFT JOIN table2 t2 ON t1.column1 = t2.column1;